body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1440Px;
    margin: 0 auto;
}
.container{
    width: 947px;
    margin: 0 auto;
    
}
:root{
    --banner:#B4D0E7;
    --p: #09968D;
    --button:#0061FF;
    --img:#6E7831;
}
.clearfix::after{
    content: "";
  clear: both;
  display: table;
}

/*classi speciali*/



/*inizio header*/

#header_site{
    width: 100%;
}
ul{
    display: inline-block;
    line-height: 70px;
    margin-top: 0;
    vertical-align: top;
    margin-bottom: 0px;
}
li{
    display: inline-block;
}
.menu-dx{
    
    width: 50%;
    float: left;
}
.menu-dx>img{
    padding: 20px;
}
.menu-dx a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
.menu-sx{
    
    width: 50%;
    float: left;
    text-align: right;
}
.menu-sx>ul{
    padding-left: 0px;
    padding-right: 40px;
}
.menu-sx a{
    margin-right: 20px;
    display: inline-block;
    line-height: 70px;
    margin-top: 0;
    vertical-align: top;
    text-decoration: none;
    color: black;
}
.menu-sx>a{
    color: white;
    background-color: var(--button);
    line-height: 0;
    padding: 20px 30px;
    margin-top: 15px;
}

/*fine header*/



/*inizio banner section*/

.banner{
    height: 664px;
    width: 100%;
    margin: 0 auto;
    background-color:var(--banner);
    margin-bottom: 185px;
}
.banner-contain{
    width: 85%;
    margin: 0 auto;
}
.h2-banner{
    padding-top: 92px;
    width: 100%;
    margin-bottom: 52px;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 7px
}
.banner-sx{
    float: left;
    width: 35%;
}
.p-description-banner{
    margin-bottom: 30px;
}
.buttn-banner{
    height: 35px;
    width: 209px;
    background-color: var(--button);
    line-height: 35px;
}
a.cta-dropbox{
    color: white;
    padding: 0 18px;
    text-decoration: none;
    background-color: var(--button);
}
.disclamer-banner{
    margin-bottom: 20px;
}
.arrow-banner>a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 34px;
}
.banner-dx{
    float: left;
    width: 65%;
}
.img-banner{
    width: 100%;
}
.img-banner img{
    width: 100%;
    display:block;
      margin:0px auto;
      text-align:center;
}

/*fine banner section*/



/*inizio choice section*/

.choice{
    margin-bottom: 46px;
}
.find-plan>h2{
    font-size: 30px;
}
.usage-choice{
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid grey;
}
.personal-choice, .standard-choice, .advanced-choice{
    height: 990px;
    width: 230px;
    float: left;
    margin-right: 44px;
    padding: 0 27px;
    border: 1px solid grey;
}
.advanced-choice{
    margin-right: 0;
}
.personal-choice .cta-dropbox{
    margin: 10px;
    padding: 5px 15px;
}
.standard-choice .cta-dropbox{
    margin: 10px;
    padding: 5px 15px;
}
.advanced-choice .cta-dropbox{
    margin: 10px;
    padding: 5px 15px;
}
.choice img{
    width: 20px;
    text-align: center;
}
.usage-choice>span{
    vertical-align: super;
}
.plan-choice hr{
    width: 20%;
}
.plan-choice .check{
    color: #0061FF;
    font-weight: bold;
}

/*fine choice section*/



/*inizio enterprise section*/

.enterprise{
    padding-bottom: 105px;
}
.cta-contact-us{
     margin-bottom: 134px;
}
.team-cta img{
    width: 20px;
}
.team-enterprise{
    text-align: center;
    border: 0.5px solid grey;
}
.enterprise-cta{
    border-bottom: 0.5px solid grey;
    border-left: 0.5px solid grey;
    border-right: 0.5px solid grey;;
}
.enterprise-cta>.cta-dropbox{
    color: white;
    padding: 5px ;
    text-decoration: none;
    background-color: var(--button);
    margin-right: 20px;
}
.enterprise-cta h2{
    margin-top: 0;
}
.img-contact img{
    width: 100%;
}
.float-right{
    float: right;
}
.contact-us{
    width: 100%;
}
.img-contact{
    width: 55%;
    float: left;
}
.text-contact{
    float: left;
    width: 45%;
}
.text-contact>h2{
    margin: 42px 0 33px 50px;
}
.text-contact>p{
    margin-left: 50px;
    margin-bottom: 30px;

}
.text-contact>.partner-cta{
    margin-left: 50px;
    padding: 5px 0 5px 0;
    border: 2px solid;
    width: 147px;
    text-align: center;
}

/*fine sesseione enterprise*/



/*inizio sessione tools*/

.tools{
    margin-bottom: 180px;
}
.text-tools{
    margin-bottom: 33px;
}
.card-tools{
    float: left;
    width: 30%;
    margin-bottom: 63px;
    margin-right: 5%;
}
.card-tools>img{
    width: 100%;
}
.card-tools:nth-child(3){
    margin-right: 0;
}
.card-tools:nth-child(6){
    margin-right: 0;
}

/*fine sessione tools*/



/*inizio sessione users*/

.users{
    margin-bottom: 120px;
}
.text-users{
    width: 60%;
    margin: 0 auto;
}
.grid-users{
    height: 285px;
}
.colomn{
    height: 288px;
    width: 33.333%;
    float: left;
    background-color: coral;
}
.small-users{
    position: relative;
    float: left;
    width: 50%;
    height: 144px;
}
.small-users>img{
    width: 90%;
    position: absolute;
    transform: translate(5%, 50%);

}
.description-users>img{
    width: 25%;
    padding: 25px;
}
.description-users>hr{
    width: 25%;
    
}
.description-users>p{
    margin-left: 25px;
}
.banner-cta{
    background-color: var(--banner);
}
.cta-users{
    width: 60%;
    margin: 0 auto;
    padding: 120px 0;
}
.cta-users>h2{
    float: left;
    margin: 0;
}
.cta-users>p{
    margin:0;
    padding: 10px 35px;
    background-color: white;
}

/*da poter cancellare*/
.small-users:nth-child(1){
    background-color: aqua;
}
.small-users:nth-child(2){
    background-color: crimson;
}
.small-users:nth-child(3){
    background-color: rgb(255, 230, 0);
}
.small-users:nth-child(4){
    background-color: darkgreen;
}
/*fine section users*/



/*inizio faq section*/

.faq{
    width: 60%;
    margin-bottom: 75px;
}
.text-faq{
    height: 23px;
    width: 100%;
    margin-bottom: 50px;

}
.esample-faq>h4{
    padding: 40px 0;
    border-top: 0.5px solid grey;
}
.esample-faq>h4:nth-child(4){
    border-bottom: 0.5px solid grey;
}

/*fine del main*/


/*inizio footer*/
#footer_site{
    height: 100%;
    width: 100%;
    background-color: black;
}
.footer-voice{
    margin-bottom: 60px;
    padding-top: 60px;
}
table{

    width:90%;
    margin: 0 auto;
    padding: 95px;
}
th{
    color: white;
    text-align: left;
}
td{
    color: white;
}
.lenguage{
    height: 64px;
    width: 76.5%;
    margin: 0 auto;
}
.lenguage>hr{
    width: 10%;
    margin: 10px 0;
}

.lenguage>img{
    width: 15px;
    display: inline-block;
}